/********** container **********/
.title-and-blurb {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex: 4;
}



/********** components **********/
.title {
  color: var(--color-dark-grey);
  font-family: var(--ff-text);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 25px;
  max-height: 56px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical; */
}

.blurb {
  color: var(--color-light-grey);
  font-family: var(--ff-text);
  font-size: 1rem;
  font-weight: 400;
  /* justify-self: flex-end; */
  line-height: 1.25rem;
  margin-top: 5px;
}


/* TODO: DELETE ME */
.blurb {
  /* border: 2px solid green; */
}


.title {
  /* border: 2px solid black; */
}