/* Page */
.article-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Left Side */
.article-show-l {
  width: var(--width-article);
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.title-and-blurb {

}
.article-view .title {
  max-height: none;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 8px;
  line-height: normal;
  letter-spacing: -0.016em;
}

.article-view .blurb {
  line-height: unset;
  font-size: 1.2rem;
  margin-bottom: 12px;
}


.article-image-ctnr {
  /* width: 800px; */
}

.article-image {
  width: 100%;
  height: 100%;
  /* shrink, cover, etc. */
  object-fit: cover;
}
.article-body {

}

.article-body .article-paragraph {
  font-family: source-serif-pro,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
  font-size: 1.1rem;
  letter-spacing: -0.02rem;
  line-height: 30px;
  margin-top: 5px;
  color:var(--color-dark-grey);
  font-weight: 300;
  word-wrap: break-word;
}

.article-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-links .clap-comment {
  display: flex;
  flex-direction: row;
}
.clap {
  margin-right: 10px

}

.article-links .share-bookmark {
  display: flex;
  flex-direction: row;
}

.bookmark {
  margin-left: 10px;
}

/* Right Side */
.article-show-right {
  display: flex;
  flex-direction: column;
  width: var(--width-sidebar);
  border: var(--border-rng);
}

.comment-sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  background-color: #fcfcfc;
  border: 2px solid red;
  display: none; /* comment sidebar hidden */
  overflow-x: hidden; /* disables horizontal scroll */
  /* transition: width 5s; */
  /* transition: 3s; */

  /* TODO: DELETE ME WHEN DONE BUILDING THE SIDEBAR */
  /* ************************************************* */
  display: flex;
  flex-direction: column;
  width: var(--width-sidebar);
  /* ************************************************* */
}

.comment-sidebar.show {
  /* width: 100%; */
  display: flex;
  /* transition: 3s; */
}


/* .article-show-wrapper { */
  /* display: flex; */
  /* flex-direction: */
/* } */












