.comment-form-ctnr {
  /* transition: min-height 1s ease; */
  /* transition-timing-function: ; */
  /* min-height: 48px; */
  margin: 10px;
  box-shadow: 0 0 3.5px #444;
  border: none;
}

.comment-form-ctnr.create {
  min-height: 48px;
  transition: min-height 1.25s ease-out;
}

.comment-form-ctnr.create.active {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  transition: min-height 1.25s ease-in;
}


.respond-btn.create {
  opacity: 0;
  transition: opacity 3s linear;

}

.cancel-btn.create {
  opacity: 0;
  transition: opacity 3s linear;
}

.respond-btn.create.active {
  opacity: 1;
  transition: opacity 3s linear;
  
}

.cancel-btn.create.active {
  opacity: 1;
  transition: opacity 3s linear;
}

.comment-form-ctnr.active {
  min-height: 150px;
  /* margin-top: 0; */
  /* height: auto; */
  /* border: var(--border-pnk); */
}

.outer-1 {
  /* margin: -100%; */
}

.activator-btn-ctnr {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  cursor: pointer;
}

.activator-btn {
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 4px #bbb;
  border: none;
  width: 100%;
  height: 48px;
  font-weight: 400;
  letter-spacing: 0.03ch;
  /* color: white; */
  background-color: white;
  text-align: left;
  text-justify: left;
  font-family: var(--ff-text);
  color: var(--color-ultralight-grey);
  font-size: 0.87rem;
  margin: auto;
  text-indent: 0.4em;
  cursor: pointer;
}

.comment-form-ctnr .create-form {
  display: flex;
  flex-direction: column;
}


.comment-form-ctnr .user {
  /* background: black; */
  height: 40px;
  margin-top: 10px;
  /* justify-self: center; */
  /* align-self: center; */
}

.comment-form-ctnr.edit {
}

span {
  display: block;
  overflow: hidden;
  /* padding-right: 10px; */
}

.input-wrapper  {
  /* background-color: #1a8917; */
  border: none;
  margin: 5px;
}

.comment-form-ctnr .input {
  width: 100%;
  text-indent: 0.4em;
  overflow-wrap: break-word;
  /* resize:vertical; */
  display: inline-block;
  /* border: 1px solid rgb(240, 164, 23); */
  /* RESUME HERE */
  /* WE'RE TRYING TO GET THE TEXT TO WRAP */
  /* LIKELY NEED TO USE TEXTAREA? */
  /* 1) SEE EXAMPLE IN ARTICLEFORM BODY */
  /* 2) GOOGLE */
  /* 3) SEE EXAMPLE IN QUILL */

}
  /* height: 100%; */
  /* height: 64px; */
    /* padding: 0;
      margin: 10px;
      box-shadow: 0 0 4px #bbb;
      border: none;
      width: 100%;
      height: 48px;
      font-weight: 400;
      letter-spacing: 0.03ch;
      color: white;
      background-color: white;
      text-align: left;
      text-justify: left;
      font-family: var(--ff-text);
      color: var(--color-ultralight-grey);
      font-size: 0.87rem;
      margin: auto;*/




.comment-index {
  /* width: 100px; */
  width: 100%;
}


.comment-index-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
  /* border-bottom: var(--border); */
}



.comment-index-item .author {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* border: var(--border-pnk); */
}

.comment-index-item .author-l {
  display: flex;
  flex-direction: row;
  /* border: var(--border-ylw); */
}

.comment-index-item .author-r {
  /* border: var(--border-grn); */

}

.comment-index-item .author-r .tooltip-btn {
  font-size: 1.3rem;
  /* margin-right: 5px; */
  font-weight: 600;
  cursor:pointer;

  /* border-radius: 100px;
  border: none;
  border: var(--border-grn);
    position: center;
      justify-self: center;
      justify-content: center;
  text-justify: center;
  text-align: center;
  display: block;
  line-height: 1rem;
  margin-bottom: 5px; */

}

.comment-index-item .author-r .tooltip-bottom {
  border: none;
}


.comment-index-item .body {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.comment-index-item .body strong {
  font-weight: bold;
}
.comment-index-item .body em {
  font-style: italic;
}



.comment-index-item .author-l .image {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin: 5px;
}

.comment-index-item .author-l .name-and-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.comment-index-item .author-l .name-and-date .name {

}

.comment-index-item .author-l .name-and-date .date {

}


.comment-index-item .author-r .report-btn-ctnr {
  height: 20px;
  display: flex;
}
.comment-index-item .author-r .report-btn {
  border: none;
  font: var(--ff-text);
  font-size: larger;
  display: flex;
  align-self: center;
  justify-self: center;
  /* height: 10px; */
}
/* TODO: Sort most recent to least ! ! ! try to animate comment incoming. */


/* .comment-create-form-ctnr {
  border: var(--border-pnk);
}
.comment-create-form-ctnr {
  border: var(--border-ylw);
} */


.buttons {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.respond-btn-ctnr {

}

.respond-btn {
  position: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: block;
  background: #1a8917;
  color: white;
  border: 0.5px solid transparent;
  border-radius: 24px;
  font-size: 0.87rem;
  height: 30px;
  width: 80px;
  margin: 5px;
  font-weight: 100;
  cursor: pointer;
}

.cancel-btn-ctnr {

}

.cancel-btn {
  position: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: block;
  background: transparent;
  font-weight: 100;
  /* color: white; */
  border: 0.5px solid transparent;
  border-radius: 24px;
  font-size: 0.87rem;
  height: 30px;
  width: 80px;
  margin: 5px;
  cursor: pointer;
}


.comment-index-item .border {
  background: var(--color-ultralight-grey);
  height: 1px;
  width: 98%;
  /* justify-self: center; */
  align-self: center;
}