/* Page */
.article-show-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

.article-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Left Side */
.article-show .left {
  width: var(--width-article);
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.article-show .author-tile-1 .share {
  margin-top: 2px;
  border: var(--border-blue);
}

.article-view .title {
  max-height: none;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 8px;
  line-height: normal;
  letter-spacing: -0.016em;
}

.article-view .blurb {
  line-height: unset;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.article-view .image {
  width: var(--width-article);
}

.article-view .article-image {
  object-fit: cover;
  width: var(--width-article);
}

.article-body {

}

.article-body .article-paragraph {
  font-family: source-serif-pro,
    Georgia,
    Cambria,
    'Times New Roman',
    Times,
    serif;
  font-size: 1.1rem;
  letter-spacing: -0.02rem;
  line-height: 30px;
  margin-top: 30px;
  color: var(--color-dark-grey);
  font-weight: 300;
  word-wrap: break-word;
}

.article-body .article-paragraph p {
  margin-bottom: 30px;
}

.article-show .article-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}

.article-links .clap-comment {
  display: flex;
  flex-direction: row;
}

.article-links .share-bookmark {
  display: flex;
  flex-direction: row;

}

.article-view .bookmark {
  margin-left: 0px;
}

.article-show .article-view .share {
  margin-top: 7px;
}



.more-from-author-section {
  width: 100%;
  margin-top: 20px;
}

.more-from-author {
  font-family: var(--ff-text);
  font-weight: 500;
  font-size: 1.3rem;
}

.more-from-author-section .article-tile {
  width: 100%;
}
.more-from-author-section .article-image {
  width: 200px;
  height: 120px;
  justify-self: center;
  align-self: center;
}

.share-your-ideas {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content:flex-start;
  align-items: center;
  font-family: var(--ff-text);
  text-align: center;
  text-justify: center;
  width: 700px;
  margin-bottom: 20px;
}

.share-your-ideas .btn-ctnr {
  margin-left: 10px;
}

.share-your-ideas .btn {
  background-color: var(--medium-green);
  font-weight: 350;
  color: white;
  border: 0.5px solid #bbb;
  border-radius: 24px;
  font-size: 0.9rem;
  height: 30px;
  width: 180px;
}


/* Right Side */
.article-show .right {
  display: block;
  width: 240px;
}

.article-show .right .inner {
  display: grid;
  position: sticky;
  top: 80px;
}

.article-show .right .author-tile-square .image {
  display: flex;
}

.article-show .right .author-tile-square .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  /* background-color: black; */
  width: 100%;
  height: 60px;
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
}

.comment-sidebar,
.article-sidebar {
  grid-column: 1;
  grid-row: 1;
  margin-top: 10px;
  margin-left: 10px;
  width: 240px;
  margin-right: 10px;
}

.article-sidebar {
  z-index: 5;
}

.more-from-medium_ {
  font-weight: 500;
  font-family: var(--ff-text);
  margin-bottom: 10px;
  font-size: 1.0rem;
}

.more-articles .user-name {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.0rem;

}

.trending-tile .user-name-icon-ctnr {

}



.trending-tile-2 {
  margin-bottom: 5px;
}

.comment-sidebar {
  height: 100%;
  position: relative;
  z-index: 10;
  background-color: #fcfcfc;
  display: none;
  overflow-x: hidden;
}



.comment-sidebar.show {
  display: flex;
  flex-direction: column;
  animation: loadSidebar both;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  left: 30em;
}

@keyframes loadSidebar {
  from {
    left: 30em;
  }

  to {
    left: 0;
  }
}

.comment-form-ctnr {
  margin: 10px;
  box-shadow: 0 0 3.5px #444;
  border: none;
}

.comment-form-ctnr.create {
  min-height: 48px;
}

.comment-form-ctnr.create.active {
  display: flex;
  flex-direction: column;
  min-height: 48px;
  animation-name: expand;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes expand {
  from {
    max-height: 48px;
  }

  to {
    max-height: 300px;
  }
}


.respond-btn.create {
  opacity: 0;
}

.respond-btn.create.active {
  animation-name: loadButtons;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes loadButtons {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cancel-btn.create {
  opacity: 0;
}

.cancel-btn.create.active {
  animation-name: loadButtons2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes loadButtons2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.comment-form-ctnr.active {
  min-height: 150px;
}

.outer-1 {
}

.activator-btn-ctnr {
  cursor: pointer;
}

.activator-btn {
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 4px #bbb;
  border: none;
  width: 100%;
  height: 48px;
  font-weight: 400;
  letter-spacing: 0.03ch;
  background-color: white;
  text-align: left;
  text-justify: left;
  font-family: var(--ff-text);
  color: var(--color-ultralight-grey);
  font-size: 0.87rem;
  margin: auto;
  text-indent: 0.4em;
  cursor: pointer;
}

.comment-form-ctnr .create-form {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation-name: loadButtons2;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}


.comment-form-ctnr .user {
  height: 40px;
  margin-top: 10px;
}

.comment-form-ctnr.edit {}

span {
  display: block;
  overflow: hidden;
}

.input-wrapper {
  border: none;
  margin: 5px;
}

.comment-form-ctnr .input {
  width: 100%;
  text-indent: 0.4em;
  overflow-wrap: break-word;
  display: inline-block;
}

.comment-index {
  width: 100%;
}

.comment-index-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

.comment-index-item .author {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.comment-index-item .author-l {
  display: flex;
  flex-direction: row;
}

.comment-index-item .author-r .tooltip-btn {
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.comment-index-item .author-r .tooltip-bottom {
  border: none;
}

.comment-index-item .body {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.comment-index-item .body strong {
  font-weight: bold;
}

.comment-index-item .body em {
  font-style: italic;
}

.comment-index-item .author-l .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.comment-index-item .author-l .name-and-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.comment-index-item .author-r .report-btn-ctnr {
  height: 20px;
  display: flex;
}

.comment-index-item .author-r .report-btn {
  border: none;
  font: var(--ff-text);
  font-size: larger;
  display: flex;
  align-self: center;
  justify-self: center;
}

.buttons {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.respond-btn {
  position: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: block;
  background: #1a8917;
  color: white;
  border: 0.5px solid transparent;
  border-radius: 24px;
  font-size: 0.87rem;
  height: 30px;
  width: 80px;
  margin: 5px;
  font-weight: 100;
  cursor: pointer;
}




.comment-index-item .border {
  background: var(--color-ultralight-grey);
  height: 1px;
  width: 98%;
  align-self: center;
}

.article-show .links {
}

.quill {
  /* width: 100%; */
}

.ql-editor {
  min-height: 100px;
  font-size: 1rem;
}




