/* frontend/src/context/Modal.css */


.portal {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
}


.modal-background {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(250,245, 234, 0.5);
  background: #fffefe;
  box-shadow: 0 0 10px black;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(250px, 75vw, 700px);
  /* font-size: clamp(.75rem, 1.5vw, 2rem); */
  overflow: auto;
  z-index: 100;
}

.modal {
  margin: 0;
  border: 0;
  padding: 0;
  padding-right: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3px 3px 0.7 grey;
  box-sizing: border-box;
  z-index: 100;
}

.modal-content {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h2 {
  font-family: gt-super,
    Georgia,
    Cambria,
    'Times New Roman',
    Times,
    serif;
  font-size: 36px;
  font-stretch: expanded;
  margin-bottom: 50px;
}

.modal.signup h2 {
  margin-bottom: 10px;
}


.modal p, input, li {
  font-family: sohne,
      'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
}

.modal p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  width: 30vh;
  text-align: center;
}

.modal.signup p {
  margin-bottom: 10px;
  width: 40vh;
}

.modal input {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  width: 15vw;
  min-width: 250px;
  max-width: 350px;
  text-align: left;
  text-indent: 3px;
  border-style: hidden;
  border-bottom: 2px solid grey;
  /* border-color: black; */
  padding: 0
}

.modal input:focus {
  outline: none;
}

.disp-block {
  display: block;
}

.login-errors {
  margin-bottom: 20px;
  color:darkred;
  text-align: center;
}

.quill-wrapper .quill {
  width: 250px;
  text-indent: none;
  text-align: left;
  margin-top: 10px;
}
.quill-wrapper .ql-editor {
  width: 270px;
  text-indent: none;
  text-align: left;
}

.quill-wrapper p {
  text-indent: none;
  text-align: left;
}

/* h4 {
  font-family: var(--ff-text);
  font-size: 0.8rem;
  background: pink;

}*/
.modal-background h4 {
  /* font-family: var(--ff-text); */
  /* font-size: 0.9rem; */
  /* text-indent: 3px; */
  /* margin-top: 10px; */
  /* background: pink; */
}


.bio-input-label {
  font-family: var(--ff-text);
  font-size: 0.9rem;
  text-indent: 3px;
  /* margin-top: 10px; */

}

.profile-picture-label {
  margin-bottom: 10px;
}
.profile-picture-label-ctnr {
  height: 40px;
}

.profile-picture-label-ctnr input{
  border: none;
  border-bottom: none;
}

.upload-profile-picture input {
  border: none;
  border-bottom: none;
}