.article-tile {
  /* width: 700px; */
  /* width: clamp(300px, 65vw, 650px); */
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 14px; */
}

.article-tile .image-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-info{
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    align-content: space-around;
  /* align-items: space-around; */
  margin: 3px;
  margin-bottom: 10px;
  /* border: var(--border-grn); */
}

.spacing-between-tiles {
  height: 20px;
}





.image-ctnr .article-tile-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 150px;
}

.article-tile-image {
  width: 80%;
  /* margin: auto; */
  /* height: 100px; */
}