.article-tile {
  /* width: 700px; */
  /* width: var(--tile-width); */
  height: var(--tile-height);
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  /* margin: 14px; */
}

.article-tile .image-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.article-info {
  /* width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  width: clamp(200px, 40vw, 500px);
  /* align-items: space-around; */
  /* margin: 3px; */
  /* margin-bottom: 10px; */
  /* border: var(--border-grn); */
}

.spacing-between-tiles {
  height: 20px;
}



.image-ctnr .article-tile-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 150px;
}

.article-tile-image {
  /* width: 80%; */
  /* margin: auto; */
  /* height: 100px; */
}

