/********** Button Containers | Parents **********/
.btn-ctnr {
  /* margin-top: 15px; */
}

.icon-btn-cntr {

}

.close-btn-container {
  margin-top: 40px;
  background-color: transparent;
}


/********** Button Containers | Children **********/
.btn-ctnr.bookmark {

}

.btn-ctnr.topic {

}

.modal .btn-ctnr {
  margin-top: 15px;
}


/********** Buttons | Parents **********/
.btn {
  cursor: pointer;
  font-size: 1rem;
  font-kerning: normal;
  font-weight: 200;
  font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  letter-spacing: .25px;
  line-height: normal;
  transition-duration: 0.3s;
  overflow: visible;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
}

.icon-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* align-items: flex-start; */
}

.icon-btn:hover {
  /* TODO: make some magic happen here */
  border: none;
}

/********** Buttons | Children **********/
.btn.topic.round {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-dark-grey);
  background-color: var(--color-off-white);
  border-radius: 50px;
  display: block;
  border: none;
}
.btn-ctnr.topic.rect {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  /* border: 10px solid pink; */
}

.btn.topic.rect {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: var(--ff-text);
  color: var(--color-dark-grey);
  background-color: transparent;
  border: 0.2px solid var(--color-dark-grey);
  letter-spacing: 0.053em;
}

.btn-text.topic.rect {
  margin: 4px;
}


.btn.bookmark {
  /* white-space: nowrap; */
}



.modal .btn {
  position: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: block;
  border: 0.5px solid #000;
  border-radius: 24px;
  height: 36px;
  width: 200px;
}

.modal .btn.demo {
  /* TODO - get this to work! */
  /* border: 4px solid var(--medium-yellow); */
  background-color: var(--medium-yellow);
}


.modal .btn:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1.0);
  background-color: #fff;
  color: #000;
  /* border: 2px solid #000; */
  font-weight: 300;
}



.close-btn {
  border: 0.25px solid #000;

  background-color: transparent;
}