/* Container */
.user-name-icon-ctnr {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 4px;
}

/* User Icon */
.user-name-icon-ctnr .user-icon-ctnr {


}

.user-name-icon-ctnr .user-icon-ctnr .user-icon {

}


/* User Name */
.user-name-icon-ctnr .user-name {
  font-family: var(--ff-text);
  color: var(--alt-text-color)
  margin-left: 5px;
}

