/* Container */
.user-name-icon-ctnr {
  display: flex;
  flex-direction: row;
  /* flex: 1; TODOLOOKHERE*/
  /* margin: 4px; */
  /* margin-top: 4px; */
  margin-bottom: 4px;
}

/* User Icon */
.user-name-icon-ctnr .user-icon-ctnr {


}

.user-name-icon-ctnr .user-icon-ctnr .user-icon {

}


/* User Name */
.user-name-icon-ctnr .user-name {
  font-family: var(--ff-text);
  color: var(--alt-text-color);
  /* margin-left: 5px; */
  margin-bottom: 10px;
}


.user-name {
  /* background-color: green; */
  margin-left: 5px;
}