
.nav-bar-wrapper {
  background-color: var(--medium-yellow);
  height: 75px;
  border-bottom: var(--border);
  position: sticky;
  transition: 0.5s ease-in-out;
  top: 0;
}
.nav-bar-wrapper.white {
  background-color: white;
}

.nav-bar-wrapper.fixed {
  background-color: #fff;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.white .nav-bar {
  background-color: white;
}

/* Left Side */
.nav-bar-l {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
/* Clairvoyant Logo */
.nav-link.homepage {
  border: var(--border-grn);
  align-self: center;
  margin-top: 5px;
}
.icon-logo {
  align-self: center;
}



.nav-bar-r {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.profile {
  height: var(--btn-height);
}

.nav-link.write  {
  /* height: var(--btn-height * 0.5); */
  /* width: 300px; */
  /* height: 40px; */
  /* background-color: black; */
}

.icon.write {
  width: 50%;
  /* height: 100%; */
  /* shrink, cover, etc. */
  /* object-fit: cover; */
  /* background: black; */
}


.profile-dropdown {
  position: absolute;
  top: var(--nav-bar-height );
  width: 250px;

  transform: translateX(-70%);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--dropdown-bg);
  overflow: hidden;
}


/* .menu-item {
  height: 50px;
  display: flex;
} */


/* TODO: CHALK? */
/* .homepage {
  padding-top: 10px;
}
.session {
  padding-top: 5px;
} */
