

.nav-bar-wrapper {
  background-color: #ffffff;
  height: 50px;
  /* border-bottom: 5px solid black; */
  border-bottom: var(--border);
  /* border-radius: 10px; */
  transition: 0.5s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-bar-wrapper.fixed {
  background-color: #F5C247;
}

.nav-bar {
  /* padding: 10px; */
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* border-bottom: 0.5px solid black; */
  /* border: 3px solid red; */
}

.left-links {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.right-links {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  align-items: center;
}
.homepage {
  padding-top: 10px;
}

.write {
  padding-top: 3px;
  padding-right: 20px;
}

.session {
  padding-top: 5px;
}




.login-modal-btn {
  background-color: transparent;
  border: none;
}


.login-modal-btn:hover {
  background-color: transparent;
  color: #0f4;
  border: none;
}


