/* Page */
.splash {
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* First Panel */
.splash-1 {
  height: 50vh;
  background-color: var(--medium-yellow);
  border-bottom: var(--border);
}

.splash-1-1 {
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 60% 40%;
  /* border: 2px solid blue; */
}

/* First Panel - Left Side */
.splash-title {
  padding-top: 60px;
  padding-left: 4vw;
  width: 100%;
}

.stay-curious_ {
  font-family: var(--ff-header);
  font-size: clamp(4rem, 50%, 6rem);
}

.discover-stories_ {
  padding-top: 20px;
  padding-bottom: 5px;
  /* width: 65%; */
  width: clamp(250px, 50%, 400px);
  /* height: 83px; */
  /* border: 2px solid pink; */
  font-size: 1.5rem;
  /* background: black; */
  /* flex-shrink: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word; */
  text-align: left;
  /* position: relative; */
  line-height: 1.2;
}

.get-started_ {
  color: white;
  font-weight: 300;
  background-color: black;
}



/* First Panel - Right Side */
.splash-animation-container {
  height: 98%;
  width: 100%;
  border: 2px solid blue;
}







/* Second Panel */
.splash-2 {
  height: 400px;
  background-color: #fff;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-2-1 {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.trending-header {
  height: 10%;
  font-family: var(--ff-text);
}

.trending-articles {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: 50% 50%;

}

/* Third Panel */
.splash-3 {
  background-color: #fff;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-3-1 {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.splash-article-feed {
  width: 65%;
  border: 2px solid blue;
  height: 3000px;
}

.splash-sidebar {
  width: 35%;
}

.discover-more {
  height: 400px;
  border-bottom: var(--border);
  /* TODO: REPLACE ME WITH PROPER BORDER BOTTOM */
  border: 2px solid yellow;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: var(--nav-bar-height);
}

.sidebar-footer {
  height: 200px;
  border: 2px solid green;
  position: -webkit-sticky;
  position: sticky;
  top: 450px;
}







/*
.splash-1-1 {
  width: 400px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
}


.stay-curious_ {
  padding-left: 20px;
  flex-shrink: 0;
  width: 100%;
  height: 82px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
  line-height: 1.2;
}



 */
