

/* Containers */
.article-create-page {
  margin: 50px;
}

.article-create-form {
  margin: 0px;
}

.article-create-form .pair {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-content: center; */
  justify-items: center;
  align-items: center;

  margin-top: 5px;
}

.article-create-form .pair .label {
  width: 80px;
  height: 100px;
  font-family: var(--ff-text);
  font-size: 1.5rem;
  /* border: var(--border-blu); */
  border: var(--border-rng);
  /* justify-self: center; */
  /* align-self: center; */
  /* margin: auto; */
  /* text-justify: center; */
  text-align: center;
  display: inline-block;
}



.input {
  border: var(--border-ylw);

}

.input-ctnr {
  border: var(--border-pnk);
}

.article-create-form-ctnr-title {
  /* width: clamp(300px, 80vw, 700px); */
  margin-right: 100px;
  background: black;
}
.article-create-form-ctnr-blurb {
  /* width: clamp(300px, 80vw, 700px); */
  margin-right: 100px;
  background: black;
}

.article-create-form-ctnr-topic {
  /* width: clamp(300px, 80vw, 700px); */
  margin-right: 500px;
  background: black;
}
.article-create-form-ctnr-topic {
  /* width: clamp(300px, 80vw, 700px); */
  border: 10px solid pink;
  width: 100px;
  margin-right: 500px;
  background: black;
}

/* Inputs */

.article-create-form .pair .input {
  font-family: var(--ff-header);
  /* border: var(--border-grn); */
  height: 50px;
}

.article-create-form .pair .input.title {
  font-family: var(--ff-header);
  /* width: 100%; */
  font-size: x-large;
  font-weight: 300;
  height: 50px;
  width: clamp(300px, 70vw, 800px)
}

.article-create-form .pair .input-ctnr.title {
  border: var(--border-rng);
}

.article-create-form-blurb {
  width: 100%;
  font-size: larger;
  font-weight: 400;
}

.article-create-form-topic {
  width: 100%;
  font-size: larger;
  font-weight: 500;
}

.article-create-form-body {
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
}

/* .ql {
  border: 2px solid blue;
}


.ql-editor strong {
  font-weight: bold;
}

.ql-editor em {
  font-style: italic;
} */


/* Input Labels */


.article-create-form .pair .label.title {


}

.article-create-form .input-ctnr.title {

}




.textarea {
  box-sizing: border-box;
  font-size: 1rem;
  height: 2rem;
  min-height: 50rem;
  overflow: hidden;
  resize: none;
  /* background: black; */
}

.ql-editor strong {
  font-weight: bold;
}


.ql-editor em {
  font-style: italic;
}

.ql-editor u {
  text-decoration: underline;
}
