.article-search-page {
  border: 2px solid violet;
  display: grid;
  flex-direction: row;
  grid-template-columns: 75% 25%;
}

.article-search-wrapper {
  border: 2px solid indigo;
}

.article-header {
  border: 2px solid yellow;
}

.article-index {
  border: 2px solid blue;
}

.article-index-item {
  border: 2px solid green;
}

.staff-picks {
  border: 2px solid yellow;
  height: 300px;
}

