





.tooltip-btn {
  display: inline-block;
  position: relative;
}

.tooltip {
  position: absolute;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-95%);
  margin-top: 10px;
  font-family: var(--ff-text);
  color: var(--alt-text-color);
  background: white;
  /* border: var(--border-pnk); */
  z-index: 2;
  white-space: nowrap;
}



.tooltip.bottom {
  bottom: calc(var(10px) * -1);
  box-shadow: 0 0 4px #bbb;
  /* width: 50px;
  transform: translateX(-100%); */
}

.tooltip.bottom::before {
  bottom: 100%;
  /* border-bottom: var(--border-grn); */
}


.tooltip .btn.edit {
  border: none;
  /* background-color: black; */
}

.tooltip .btn.delete {
  border: none;
  /* background-color: black; */
}