/* TODO Add site wide styles */
/* @import-normalize */


html {
  --dropdown-bg: #ffffff;
  --dropdown-bg-accent: #888883;
  --ff-header: gt-super,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
  --ff-text: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  --ff-m-logo: medium-content-sans-serif-font,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --text-color: #000;
  --alt-text-color: #333;
  --color-dark-grey: #292929;
  --color-light-grey: #757575;
  --color-light-grey2: #818181;
  --color-ultralight-grey: #999;
  --color-ultralight-grey2: #bbb;
  --color-off-white: #f2f2f2;
  --medium-yellow: #FFBF17;
  --medium-green: rgb(26, 137, 23);
  --nav-bar-height: 75px;
  --btn-height: 30px;
  --border: 1px solid #505050;
  --border-grn: 4px solid #1b998b;
  --border-pnk: 4px solid #ed217c;
  --border-blu: 4px solid #2d3047;
  --border-ylw: 4px solid #fffd82;
  --border-rng: 4px solid #ff9b71;
  --border-radius: 10px solid #505050;
  --width-article: clamp(300px, 70vw, 800px);
  --width-main: clamp(300px, 70vw, 700px);
  --width-sidebar: clamp(200px, 30vw, 350px);
  --speed: 400ms;
  font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
}

.label-1 {
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: var(--ff-text);
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* h1 {
  font-family: gt-super,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
} */

