/* TODO Add site wide styles */
/* @import-normalize */


html {
  --dropdown-bg: #ccc;
  --dropdown-bg-accent: #888883;
  --text-color: #000;
  --alt-text-color: #333;
  --medium-yellow: #F5C247;
  --nav-bar-height: 50px;
  --btn-height: 30px;
  --border: 0.5px solid #505050;
  --border-radius: 10px solid #505050;
  --speed: 400ms;
  font-size: 16px;
}




h1 {
  font-family: gt-super,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;

}

