/* TODO Add site wide styles */
/* @import-normalize */


:root {
  --dropdown-bg: #aaa;
  --dropdown-bg-accent: #888883;
  --text-color: #000;
  --nav-bar-size: 60px;
  --nav-bar-border: 1px solid #505050;
  font-size: 16px;
}
