.article-tile-simple {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-tile-simple .article-info {
}

.article-tile-simple .title {
  font-size: 0.9rem;
  line-height: 20px;
  max-height: 83px;
}

.article-image .article-image-wrapper {
  border-radius:0%;
}
.article-image .article-image {
  border-radius:0%;
}

.article-tile-simple .article-image {
  width: 100px;
}

.article-tile-simple .article-image .article-image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0;
}

.article-tile-simple .article-image .article-image {
  width: 80px;
  align-self: center;
  justify-self: center;
}