/* Outer Div */
.author-tile-square {
  /* margin: 10px; */
}

/* Icon */
.author-tile-square .icon {
  cursor: pointer;
  margin-bottom: 10px;
}

.author-tile-square .image {
  cursor: pointer;
  width: 50px;
}

/* Name */
.author-tile-square .name {
  cursor: pointer;
  font-weight: 500;
  font-kerning: normal;
  font-family: var(--ff-text);
  margin-bottom: 10px;
}

/* Bio */
.author-tile-square .bio {
  color: var(--color-ultralight-grey);
  font-family: var(--ff-text);
  font-weight: 300px;
  font-size: 0.88rem;
  margin-bottom: 10px;
  line-height: 20px;
}


/* Follow Button */
.author-tile-square .btn-ctnr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author-tile-square .btn {
  background-color: var(--medium-green);
  font-weight: 350;
  color: white;
  border: 0.5px solid #bbb;
  border-radius: 24px;
  font-size: 0.9rem;
  height: 30px;
  width: 100px;
}


.author-tile-square .btn:hover {
  box-shadow: none;
  /* background-color: var(--medium-green); */
  /* color: #000; */
  border: 3px solid var(--medium-green);
  font-weight: 400;
}